.regist__input {
  padding: 0;
  width: 100%;
  min-height: 27px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin-bottom: 31px;
  padding-bottom: 6px;
  box-sizing: border-box;
}
.regist__input:last-of-type {
  margin-bottom: 48px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .regist__input {
    padding-bottom: 9px;
    margin-bottom: 30px;
  }
  .regist__input:last-of-type {
    margin-bottom: 45px;
  }
}

.regist__input:-webkit-autofill {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
