.profile {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}
