.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.popup__button-close:hover {
  opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
