.element {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  width: 32%;
  min-height: 361px;
  background-color: #fff;
  list-style-type: none;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .element {
    width: 48%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .element {
    width: 100%;
  }
}
