.regist__button-clear-input {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.regist__button-clear-input:hover {
  opacity: 0.6;
}
