.header__button-bar-close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
  background-image: url(../../../images/CloseHeaderBar.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: opacity 0.5s ease;
  cursor: pointer;
  margin-right: 30px;
}

.header__button-bar-close:hover {
  opacity: 0.6;
}
