@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/_place/logo_place_header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__position-name-button/profile__position-name-button.css);
@import url(./blocks/profile/__block/profile__block.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__subname/profile__subname.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__mask-group/element__mask-group.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__group/_status/element__group_status_active.css);
@import url(./blocks/element/__block-title/element__block-title.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);
@import url(./blocks/popup/_status/popup_status_active.css);
@import url(./blocks/popup/__group/popup__group.css);
@import url(./blocks/popup/__zoom-image/popup__zoom-image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_overlay/popup_overlay_dark.css);
@import url(./blocks/popup/__text-error/popup__text-error.css);
@import url(./blocks/popup/__text-error/_active/popup__text-error_active.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__text/_type/popup__text_type_error.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-quantity/element__like-quantity.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/popup/__form/_size/popup__form_size_oneInput.css);
@import url(./blocks/popup/__form/_size/popup__form_size_zeroInput.css);
@import url(./blocks/popup/__title/_size/popup__title_size_zeroInput.css);
@import url(./blocks/popup/__button-clear-input/popup__button-clear-input.css);
@import url(./blocks/popup/__button-clear-input/_status/popup__button-clear-input_status_active.css);
@import url(./blocks/regist/regist.css);
@import url(./blocks/regist/__block-form/regist__block-form.css);
@import url(./blocks/regist/__button-clear-input/regist__button-clear-input.css);
@import url(./blocks/regist/__button-clear-input/_status/regist__button-clear-input_status_active.css);
@import url(./blocks/regist/__button-save/regist__button-save.css);
@import url(./blocks/regist/__button-save/_inactive/regist__button-save_inactive.css);
@import url(./blocks/regist/__form-field/regist__form-field.css);
@import url(./blocks/regist/__form/regist__form.css);
@import url(./blocks/regist/__input/regist__input.css);
@import url(./blocks/regist/__text-error/regist__text-error.css);
@import url(./blocks/regist/__text-error/_active/regist__text-error_active.css);
@import url(./blocks/regist/__text/regist__text.css);
@import url(./blocks/regist/__title/regist__title.css);
@import url(./blocks/regist/__text-link/regist__text-link.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__log-out/header__log-out.css);
@import url(./blocks/header/__email-botton-case/header__email-botton-case.css);
@import url(./blocks/tooltip/tooltip.css);
@import url(./blocks/tooltip/__image/tooltip__image.css);
@import url(./blocks/tooltip/__title/tooltip__title.css);
@import url(./blocks/header/__button-bar-open/header__button-bar-open.css);
@import url(./blocks/header/__button-bar-close/header__button-bar-close.css);