.header {
  width: 100%;
  margin-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(54, 54, 54, 0.8);  
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
    padding-bottom: 31.6px;
    position: relative;
  }
}
